.container {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: -0.36px;
  color: #132c4a;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 100%;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.label {
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0;
  color: #8292a1;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.input {
  width: 100%;
  max-width: 100%;
  height: 76px;
  border: 1px solid #729cf0;
  border-radius: 12px;
  padding: 0 56px 0 26px;
  outline: none;
  box-sizing: border-box;

  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #132c4a;
}

.input::placeholder {
  color: #d9e0e6;
}

.eyeButton {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  width: 22px;
  height: 22px;
}

.helperText {
  font-family: Rubik;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #8292a1;
}

.errorText {
  font-family: Rubik;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #ff3b30;
}
