.createAccountFlowContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: -16px 4px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 44px 64px 56px 64px;
}
